

body {
	font-family: 'EB Garamond', serif;
	background-color: rgb(217,208,186);
}

h1 {
	color: rgb(0,0,0);
	font-size: 24pt;
	text-align: center;
	background-color: rgb(255,255,255);
}

p {
	color: rgb(0,0,0);
	font-size: 12pt;
}

#logo {
	text-align: center;
}

#slogan {
	font-family: 'Anton', sans-serif;
	font-variant: small-caps;
	font-style: italic;
	text-align: center;
	font-size: 30pt;
}

.re {
	font-family: 'Anton', sans-serif;
	font-variant: small-caps;
	color: red;
	font-size: 12pt;
}

.covered {
	font-family: 'Anton', sans-serif;
	font-variant: small-caps;
	color: black;
	font-size: 12pt;
}

ul {
	font-family: 'Anton', sans-serif;
	text-align: center;
	list-style-type: none;
	color: rgb(0,0,0);
	font-size: 14pt;
}