body {
	font-family: 'EB Garamond', serif;
	/*background-color: rgb(232,228,193);*/
	background-color: white;
	font-size: 12px;
}

h1 {
	color: rgb(0,0,0);
	font-size: 24pt;
	font-family: 'Anton', sans-serif;
	text-align: center;
	background-color: white;
}

h2 {
	color: black;
	font-size: 14pt;
	font-family: 'Anton', sans-serif;
	text-align: center;
	border-bottom: 4px solid black;
  	display: inline-block;
  	margin: .5em;
}

p {
	color: rgb(0,0,0);
	font-size: 12pt;
	line-height: 1.5em;
	margin: 1em;
}



header {
	background-color: white;
	width: 100%;
	padding: 20px;
}

#logo {
	display: block;
	width: 360px;
	margin: 0 auto;
}

#slogan {
	font-family: 'Anton', sans-serif;
	font-variant: small-caps;
	font-style: italic;
	text-align: center;
	font-size: 30pt;
}

#navlinks {
	/*background-color: #FFFBE5;*/
	text-align: center;
	width: 100%;
}

nav a {
	font-family: 'Anton', sans-serif;
	text-decoration: none;
	color: #E82C0C;
	font-size: 16px;
	margin: .5em;
	padding: .5em;
	display: inline-block;
}

a:hover {
	background-color: #E2E0E5;
}

.re {
	font-family: 'Anton', sans-serif;
	font-variant: small-caps;
	color: red;
}

.covered {
	font-family: 'Anton', sans-serif;
	font-variant: small-caps;
	color: black;
}

#two_column {
	background-color: #FFF6D7;
	border: 1px black solid;
	padding: 20px;
	width: 100%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#overview {
	background-color: white;
	border: 1px black solid;
	padding: 20px;
	margin: 10px;
	float: left;
	width: 65%;
}

#related_links {
	background-color: white;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
	margin: 10px;
}

#linkslist {
	text-align: left;
	list-style-type: none;
	color: rgb(50,1,232);
	font-size: 12pt;
}

#serviceslist {
	font-family: 'Anton', sans-serif;
	text-align: center;
	list-style-type: none;
	color: rgb(0,0,0);
	font-size: 14pt;
}

#three_column {
	background-color: white;
	padding: 20px;
}

#weaving {
	background-color: #FFEDD7;
	border: 1px black solid;
	padding: 20px;
	margin: 10px;
	float:	left;
	width: 28%;
}

#caning {
	background-color: #FFEDD7;
	border: 1px black solid;
	padding: 20px;
	margin: 10px;
	float: left;
	width: 28%;
}

#upholstery {
	background-color: #FFEDD7;
	border: 1px black solid;
	padding: 20px;
	margin: 10px;
	float: left;
	width: 28%;
}

footer {
	background-color: #F2EACC;
	border: 1px black solid;
	padding: 20px;
	text-align: center;
}
