body {
	background-color: rgb(255,255,255);
	font-family: Calibri;
}

h1 {
	color: rgb(0,0,0);
	font-size: 24pt;
	font-family: Calibri;
	text-align: center;

}

p {
	color: rgb(60,60,60);
	font-size: 12pt;
}
#logo {
	text-align: center;
}

#slogan {
	font-style: italic;
	text-align: center;
	text-transform: capitalize;
	font-size: 20pt;

}