body {
	background-color: rgb(191,174,165);
}

h1 {
	color: rgb(0,0,0);
	font-size: 24pt;
	font-family: Calibri;
	text-align: center;

}

p {
	color: rgb(60,60,60);
	font-size: 12pt;
}
#slogan {
	font-style: italic;
	text-align: center;
	text-transform: capitalize;

}